# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Working with JSON files

Import the pandas library.

In [1]:
# your code here

import pandas as pd

####  After importing pandas, let's find a dataset. In this lesson we will be working with a NASA dataset.

Run the code in the cell below to load the dataset containing information about asteroids that have landed on earth. This piece of code helps us open the URL for the dataset and decode the data using UTF-8.

In [2]:
from urllib.request import urlopen;
import json;

response = urlopen("https://data.nasa.gov/resource/y77d-th95.json");
json_data = response.read().decode('utf-8', 'replace');

In the next cell, load the data in `json_data` and load it into a pandas dataframe. Name the dataframe `nasa`.

In [3]:
nasa = pd.read_json(json_data, orient='records');        
flattened = pd.DataFrame(dict(nasa['geolocation'])).transpose();
columns = [str(col) for col in flattened.columns]
flattened.columns = ['geolocation' + '_' + colname for colname in columns]
nasa = pd.concat([nasa, flattened], axis=1)
nasa = nasa.drop('geolocation', axis=1)

Now that we have loaded the data, let's examine it using the `head()` function.

In [4]:
# your code here

nasa.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,geolocation_type,geolocation_coordinates
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.77500,6.08333,NaN,NaN,Point,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01T00:00:00.000,56.18333,10.23333,NaN,NaN,Point,"[10.23333, 56.18333]"
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01T00:00:00.000,54.21667,-113.00000,NaN,NaN,Point,"[-113, 54.21667]"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976-01-01T00:00:00.000,16.88333,-99.90000,NaN,NaN,Point,"[-99.9, 16.88333]"
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01T00:00:00.000,-33.16667,-64.95000,NaN,NaN,Point,"[-64.95, -33.16667]"

#### The `value_counts()` function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the `value_counts()` function to determine the frequency of all types of asteroid landings by applying the function to the `fall` column.

In [5]:
# your code here

nasa['fall'].value_counts()

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Save the dataframe using the `orient=records` argument and name the file `nasa-output.json`. Remember to save the file inside the `data` folder.

In [6]:
# your code here

nasa.to_json('nasa.json', orient='records');

# Challenge 2 - Working with CSV and Other Separated Files

CSV files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a CSV file into a dataframe directly from a URL without having to load the file first and then transform it. The dataset we will be using contains information about NASA shuttles.

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [7]:
cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [8]:
# your code here

shuttle = pd.read_csv(tst_url, sep = ' ', names = cols)

Let's verify that this worked by looking at the `head()` function.

In [9]:
# your code here

shuttle.head()

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated, that we are not saving the index column and that the file is saved inside the `data` folder.

In [10]:
# your code here

shuttle.to_csv('shuttle.csv', index=False)

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` can be found in the local `data` folder. Access it through a relative path and read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [11]:
# your code here

astronaut = pd.read_excel('astronauts.xls')

FileNotFoundError: [Errno 2] No such file or directory: 'astronauts.xls'

Use the `head()` function to inspect the dataframe.

In [ ]:
# your code here

astronaut.head()

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [ ]:
# your code here

astronaut['Undergraduate Major'].value_counts()

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a **tab separated file** using the `to_csv` function. Call the file `astronaut.csv`. Remember to remove the index column and save the file in the `data` folder.

In [12]:
# your code here

astronaut.to_csv('astronaut.csv', sep='\t', index=False);

NameError: name 'astronaut' is not defined

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function.

Look in Google for a way to retrieve this data!

In [ ]:
# your code here